@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer components {
    .link {
        @apply cursor-pointer hover:no-underline;
    }
    .button {
        @apply bg-wendge bg-opacity-50 py-1 px-4 rounded-lg font-mono text-gray-200 
        hover:bg-opacity-70 hover:backdrop-blur-lg;
    }

    .bg-blur {
        backdrop-filter: blur(10px); /* Adjust the blur value as needed */
        background-color: rgba(255, 255, 255, 0.8); /* Adjust the background color and opacity as needed */
    }

    .loader {
        border: 4px solid #f3f3f3;
        border-top: 4px solid #5d3c4af9;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
       0% {
           transform: rotate(0deg);
        }
        100% {
           transform: rotate(360deg);
        }
    }      
}
